.contact{
    background-image: url(../../../images/appointment.png);
    position: relative;
    z-index: 1;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: .9;
    z-index: -1;
}
.addEvent{
    margin: 50px;
}
.addEvent input{
    display:block;
    margin-top: 30px;
    padding: 5px;
    border:1px solid gray;
    border-radius:5px;
    width: 300px;
}